{% extends 'base.html' %}
{% load static %} 
{% block title %}Django Delights{% endblock %}
{% block head %}
{% endblock %}
{% block content %}

<div class="container">
  <div class="row">
    <h2>Ingredients</h2>
    <a href="{% url 'add_ingredient' %}">Add New Ingredient to Inventory</a>
    <hr/>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th>Unit</th>
                <th>Unit Price</th>
            </tr>
        </thead>
        <tbody>
        {% for ingredient in object_list %}
            <tr>
                <td>
                    <a href="">{{ ingredient.name }}</a>
                </td>
                <td>{{ ingredient.quantity }}</td>
                <td>{{ ingredient.unit }}</td>
                <td class="price">${{ ingredient.unit_price|stringformat:".2f" }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
  </div>
</div>
{% endblock %}